[profile.default]
src = "src"
out = "out"
libs = ["lib"]
remappings = [
    "@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/",
    "solady/=lib/solady/src/"
]
fs_permissions = [{ access = "read-write", path = "./generated" }, { access = "read-write", path = "./assets" }]

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
